<link rel="stylesheet" href="/css/homeStyle.css">
<body>
    <div id="wrapper">
        <%- include('header'); %>
        <div id="content">
            <!-- Main content here -->
            <h2>
                List Of All Habits
            </h2>
            <div id="redirectIcon">
                <a href="addHabit">Add New</a>
            </div>
            <div id="habitListDiv">
                <ul id="habitList">
                    <%if(allHabitList.length>0 ){%>
                        <% for(habit of allHabitList){%>
                            <li>
                                <div id="liContainerDiv">
                                    <label><a href="calendar"><%=habit.habitName%></a></label>
                                    <label><%=habit.time%></a></label>
                                    <label>Best Streak: <%= bestStreaks[allHabitList.indexOf(habit)] %> 
                                    /  <%= totalDays[allHabitList.indexOf(habit)]%> days </label>
                                    <div id="linkdiv">
                                        <a href="deleteHabit/<%=habit.id%>">Delete Habit</a>
                                        <a href="status/<%=habit.id%>">Update Status</a>
                                    </div>
                                </div>
                            </li>
                            <%} %>
                    <%}else {%>
                        <li>
                            <div id="liContainerDiv">
                                <label>No Habit added</label>
                            </div>
                        </li>
                        <%}%>
                </ul>
            </div>
        </div>
        <%- include('footer'); %>
    </div>
</body>
<script src="js/script.js"></script>